#cursor {
    position: relative;
    width: 32px;
    height: 32px;
    background: url("../images/cursor.png");
    z-index: 200;
    pointer-events: none;
}

body {
    margin: 0;
    background: url("../images/gui-background.png");
    overflow: hidden;
    font-family: 'VT323', serif;
    color: #fafafa;
}

.ui-tooltip {
    padding: 8px;
    position: relative;
    z-index: 9999000!important;
    max-width: 150px;
    background: #243544;
    border:1px solid #a46333;
    text-align: center;
}

h1 {
    margin: 2px;
    font-size: 1.3em;
}

.hide {
    display: none;

}

select {
    /*font-family: 'VT323', serif;*/
    /*font-size: 2em;*/
}

.bookWindow {
    width: 812px;
    height: 490px;
    background: url("../images/bookWindow.png");
    position: absolute;
    z-index: 100;
    left: 25%;
    top: 15%;
    color:#212240;
}

.bookWindow > .bookmarks {
    float: left;
    width: 124px;
    margin-top: 31px;
    margin-left: -75px;
    height: 438px;
    font-size: 1.5em;
}

.bookWindow > .bookmarks .bookmark:hover {
    background: url("../images/bookmark-active.png");
    cursor: pointer;
    color:#fafafa;
}
.bookWindow > .bookmarks .bookmark {
    background: url("../images/bookmark.png");
    width: 102px;
    height: 35px;
    line-height: 35px;
    padding-left: 22px;
    font-size: 0.66em;
    color: #16124A;
    margin-top: -7px;
}

.bookWindow > .left {
    float: left;
    width: 343px;
    margin-top: 7px;
    margin-left: 14px;
    height: 424px;
    font-size: 1.5em;

}

.bookWindow > .right {
    float: right;
    width: 336px;
    margin-top: 7px;
    margin-right: 63px;
    height: 424px;
    font-size: 1.5em;
}

.books{
    position: fixed;
    top:29px;
    right:0;
}
#cookbook {
    width: 84px;
    height: 84px;
    background: url("../images/book.png");
    margin:9px;
}

#cookbook:hover {
    cursor: pointer;
    background: url("../images/bookHover.png");
}

#save {
    width: 84px;
    height: 84px;
    background: url("../images/book-save.png");
    margin:9px;
}

#save:hover {
    cursor: pointer;
    background: url("../images/book-saveHover.png");
}

#manual {
    top: 84px;
    width: 84px;
    height: 84px;
    background: url("../images/book-manual.png");
    margin:9px;
}

#manual:hover {
    cursor: pointer;
    background: url("../images/book-manualHover.png");
}

.gui-window {
    position: relative;
    width: 159px;
    margin-bottom: 10px;
}

.gui-window .gui-title {
    text-align: center;
    color: #f2f2f2;
    font-size: 1.3em;
    margin: 0;
    padding: 9px;
    background: url("../images/gui-window-title.png");
}

.gui-window .gui-body {
    margin: 0;
    background: url("../images/gui-window-body.png");
    padding: 2px 14px 2px 14px;
}

.gui-window::after {
    content: " ";
    display: block;
    background: url("../images/gui-window-bottom.png");
    height: 7px;
    width: 100%;

    position: absolute;
    bottom: -7px;
}
.gui-window.big {
    width: 300px;
}

.gui-window.big .gui-title {
    background: url("../images/gui-window-title-big.png");
}

.gui-window.big .gui-body {
    background: url("../images/gui-window-body-big.png");
}

.gui-window.big::after {
    background: url("../images/gui-window-bottom-big.png");
}

#objective{
    display: inline-block;
}

.gui-window small {
    margin-left: 9px;
}

.gui-window-float {
    position: absolute !important;
}

.gui-window textarea {
    color: #f2f2f2;
    font-size: 1.3em;
    font-family: 'VT323', serif;
    background: url("../images/gui-text.png");
    border: 5px solid #3a3a3a;
    margin: 5px;
    padding: 2px;
    min-width: 247px;
    max-width: 247px;
    min-height: 97px;
    max-height: 97px;
}

#jsonShow textarea {
    color: #f2f2f2;
    font-size: 0.8em;
    font-family: 'VT323', serif;
    background: url("../images/gui-background-dark.png");
    border: 0;
    margin-top: 7px;
    margin-left: 63px;
    padding: 2px;
    width: 682px;
    height: 444px;
}

.close {
    float: right;
    color: #f2f2f2;
    width: 20px;
    height: 20px;
    font-family: 'VT323', serif;
    background: url("../images/close.png");
    cursor: pointer;
}

.close:hover {
    background: url("../images/close-active.png");
}

.gui-text {
    background: url("../images/gui-text.png");
    border: 5px solid #3a3a3a;
    margin: 5px;
    padding: 2px;
}

.gui-button {
    border: 5px solid #48474A;
    background: #3a3a3a url("../images/gui-button.png");
    display: inline-block;
    padding: 4px;
    color: #f2f2f2;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.center {
    text-align: center;
}


#viewport {
    overflow: hidden;
    height: 100vh;

}

#viewport2 {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 2;
    pointer-events: none;

}

#tools {
    position: fixed;
    top: 43px;
    left: 11px;
    overflow-y: hidden;
    width: 166px;
    z-index: 10000;
}
#top {
    top: 0;
    height: 29px;
    width: 100vw;
    background:url("../images/gui-top.png");
    z-index: 10000;
    position: fixed;
}
#top.green {
    background:url("../images/gui-top-green.png");
}

#top .text{
    position: relative;
    top:-5px;
    display: inline-block;
    height: 17px;
}

#top .pilot{
    display: inline-block;
    background: url("../images/gui-top-middle.png");
    height: 17px;
    margin: 5px;
}

#top .pilot::before {
    content: " ";
    display: inline-block;
    background: url("../images/gui-top-left.png");
    width: 2px;
    height: 17px;
}
#top .pilot::after {
    content: " ";
    display: inline-block;
    background: url("../images/gui-top-right.png");
    width: 2px;
    height: 17px;
}

#top .pilot.green{
    background: url("../images/gui-top-middle-green.png");
}
#top .pilot.green::before {
    background: url("../images/gui-top-left-green.png");
}
#top .pilot.green::after {
    background: url("../images/gui-top-right-green.png");
}

#top .pilot.red{
    background: url("../images/gui-top-middle-red.png");
}
#top .pilot.red::before {
    background: url("../images/gui-top-left-red.png");
}
#top .pilot.red::after {
    background: url("../images/gui-top-right-red.png");
}

#top .button{
    display: inline-block;
    position: relative;
    top: -6px;
    background: url("../images/gui-top-button.png");
    height: 19px;
    margin: 5px;
    width: 87px;
    cursor: pointer;
    font-size: 0.96em;
    text-align: center;
    color: inherit;
    padding-top: 1px;
}

#top .button:hover{
    background: url("../images/gui-top-button-active.png");
}
#tools .gui-window {
    margin-left: 2px;
}

#infoTextVal {
    display: inline;
}

.tool {
    width: 40px;
    height: 40px;
    background: url(../images/buttonBox.png);
    display: inline-block;
    cursor: pointer;
    margin-left: -1px;

}

.tool:not(.activeTool):hover {
    background: url(../images/buttonBoxHover.png);
}

.tool.activeTool {
    background: url(../images/buttonBoxActive.png);
}

.tool div {
    width: 32px;
    height: 32px;
    margin: 4px;
}

#screen {
    position: relative;
    margin: auto;
    top: 29px;
    left: 0;
}

h1 {
    text-align: center;
    color: #fafafa;

}

.collectedItems {
    font-size: 1.1em;
    margin: 2px;
    margin-top: 6px;
}

ol {
    margin: 1px;
}

li.red {
    color: #f4a5a0;
}

li.green {
    color: #acefb2;
}

.white {
    color: #ffffff;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #1c1c1c;
    z-index: 200000;
}

.info-screen {
    background: url("../images/info.png");
    position: absolute;
    width: 640px;
    height: 260px;
    left: calc((100vw - 640px) / 2);
    top: calc((100vh - 260px) / 2);
    z-index: 200000;
}

.info-viewport.green .info-screen {
    background: url("../images/info-green.png");
}

.info-viewport.red .info-screen {
    background: url("../images/info-red.png");
}

.info-viewport.green .info-screen {
    background: url("../images/info-green.png");
}

.info-viewport.red .info-screen {
    background: url("../images/info-red.png");
}

.info-text {
    font-size: 5em;
    text-align: center;
    line-height: 149px;
}

.info-subtext {
    font-size: 3em;
    text-align: center;
}

.switch-on {
    width: 53px;
    height: 100px;
    background: url("../images/switch.png");
    background-position: 53px 0px;
}

.switch-off {
    width: 53px;
    height: 100px;
    background: url("../images/switch.png");
    background-position: 0px 0px;
}

.switch-on.theme2{
    width: 100px;
    height: 50px;
    background: url("../images/switch-2.png");
    background-position: 0px 0px;
}
.switch-off.theme2{
    width: 100px;
    height: 50px;
    background: url("../images/switch-2.png");
    background-position: 100px 0px;
}

.inline {
    display: inline-block;
}

#cardpad{
    position: fixed;
    z-index: 10000;
    background: url("../images/pad.png");
    width: 364px;
    height: 488px;

    left: calc((100vw - 364px) / 2);
    top: calc((100vh - 488px) / 2);
}

#closecardpard{
    float: none;
    position: relative;
    left: 332px;
    top: 17px;
}

#storyscreen {
    margin-left: 36px;
    margin-top: 114px;
    margin-right: 36px;
    margin-bottom: 83px;
    color:#3b3d42;
    font-size: 1.1em;
}

#storyscreen div{
    text-align: justify;
}
a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    color: #b8b8b8;
    margin: 8px;
}

.infoWindowText {
    float: right;
    width: 211px;
    height: 90px;
    display: table;
}.infoWindowText.pushSwitch {
    width: 164px;
     height:55px;
}
.windowHeader{
    text-align: center;
    font-size: 1.3em;
    margin:4px;
}
.infoWindowText p {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.arrow {
    width: 22px;
    height: 18px;
    padding:3px;
    background-position:3px 3px;
    background-repeat:no-repeat;
}

.arrow:hover {
    cursor: pointer;
}

.arrows{
    margin-left:10px;
    margin-right:10px;


}
.arrow.left {
    background-image: url("../images/left-arrow.png");
    float: left;
    margin-left: 14px;
}

.arrow.left:hover {
    background-image: url("../images/left-arrow-red.png");
}

.arrow.right {
    background-image: url("../images/right-arrow.png");
    float: right;
    margin-right: 55px;
}

.arrow.right:hover {
    background-image: url("../images/right-arrow-red.png");
}

#cookbook h1, h2, h3, h4 {
    margin: 2px;
}

#infoFilter {
    background: url("../images/gui-filter.png");
    border: 3px solid #3a3a3a;
}

.gui-select {
    width: 88px;
    background: url("../images/black.png");
    font-family: 'VT323', serif;
    font-size: 1.1em;
}

.gui-full{
    width: 100%;
}
option {
    background: #3a3a3a;
    font-family: 'VT323', serif;
    font-size: 1.1em;
}

tr, td {
    margin: 0;
    padding: 0;
}

td {
    width: 82px;
}
.bookWindow p{
    margin: 10px 3px 3px;
    font-size: 0.8em;
}
.bookWindow p.small{
    font-size:0.7em;
}

.info-message {
    margin: 0;
    text-align: center;
    font-size: 2em;
}


.home a {
    color: #FDADBB;
}
.home a.active {
    color: #48fd5d;
}

.red-color{
    color: #c75648;
}

.green-color{
    color: #0D803C;
}

.back-button {
    background: url("../images/gui-background-black.png");
    border: 3px solid #3a3a3a;
    padding: 5px;
    margin: 5px;
	text-align:center;
}

.back-button:hover {
    cursor: pointer;
    background: url("../images/gui-background-green.png");
}


#nextFrame{
    color: #1c1c1c;
    background: url("../images/nextframe.png");
    width: 212px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    line-height: 60px;
    margin-top: 21px;

}
#nextFrame:hover{
    background: url("../images/nextframe-active.png");

}


#nextFrame.active{
    color: #267AC3;
}

.infoWindowInline {
    display: inline-block;
}

#nextday{
    position: absolute;
    width: 216px;
    height: 108px;
    left: calc((100vw - 216px) / 2);
    top: 0;
    z-index: 5000;
    background: url("../images/stage.png");
    line-height: 108px;
    font-size: 2.5em;
    text-align: center;
    cursor: pointer;
    color: #fafafa;
}#nextday:hover{
    background: url("../images/stage-active.png");
}