body {
    margin: 0;
    background: #243544;
    font-family: 'VT323', serif;
    color: #fafafa;
}
#viewport::before{
    content: ' ';
    position: absolute;
    height: 24px;
    width: 650px;
    background: url("../images/bg-top.png");
    margin-top: -24px;

}
#viewport::after{
    content: ' ';
    position: absolute;
    height: 24px;
    width: 650px;
    background: url("../images/bg-bottom.png");
    margin-bottom: -24px;
    bottom:0;

}

#viewport {
    background: url("../images/bg-middle.png");
    width: 650px;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 54px;
    margin-bottom: 54px;
    position: relative;
}

.text {
    margin: 20px;
    font-size: 2em;
}

.text a {
    padding: 0.3em;
}

h1 {
    text-align: center;
    color: #b8b8b8;
    font-size: 3em;
}
.error {
    text-align: center;
    color: #b84452;
    font-size: 2em;
}

.success {
    text-align: center;
    color: #4eb858;
    font-size: 2em;
}

h2 {
    text-align: center;
    font-size: 1em;
    color: #b8b8b8;
}

a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    color: #DCDCDC;
    margin: 8px;
}

.centerBlock {
    float: right;
    width: 100%;
    height: 200px;
    display: table;
}

.centerBlock .cell {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.back {
    font-size: 2em;
}

#decision a{
    margin: 40px;
    font-size: 2em;
    color:#14FF53;
}
#decision a:hover{
    color: #FF6369;
}

#nextFrame.active{
    color: #FFBD00;
}

.input {
    background: url("../images/gui-background-dark.png");
    border: 3px solid #3a3a3a;
    padding: 5px;
    margin: 5px;
    color:#fafafa;
    font-family: 'VT323', serif;
    font-size:2em;
}

.input-button{
    cursor: pointer;
}
.input-button:hover {
    background: url("../images/gui-background-green.png");

}

textarea.input{
    width:470px;
    height: 100px;
    font-size: 0.9em;
}

input.input{
    width: 470px;
}

label{
    width:100px;
    display: inline-block;
}