body {
    text-align: center;
}

#viewport-big {
    background: url("../images/gui-background-black.png");
    border: 5px solid #3a3a3a;
    max-width: 905px;
    display: inline-block;
}

.level {
    background: url("../images/stage.png");
    height: 108px;
    float: left;
    width: 216px;
    margin: auto;
    color: #ffffff;
}

a.level{
    color: #ffffff;
}
.level h4,h3,p{
    margin-top:13px;
    margin-bottom:10px;
}

.level:hover {
    cursor: pointer;
    background: url("../images/stage-active.png");
}

h4, h3 {
    font-weight: normal;
}

.back {
    font-size: 2em;
}

.no-background {
    background: none !important;
    border: none !important;
}
.easy-color{
    color: #0D803C;
}
.extraeasy-color{
    color: #B970A2;
}
.tutorial-color{
    color: #366b80;
}
.normal-color{
    color: #c6943d;
}
.hard-color{
    color: #c64040;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}