RewriteEngine on
RewriteBase /pixelinthepipe/
RewriteRule ^factory_(.+)_d.html$ decision.php?factory=$1
RewriteRule ^extra_(.+).html$ game.php?extralevel=$1
RewriteRule ^factory_by_reset_(.+).html$ game.php?factory=$1&reset=yes
RewriteRule ^factory_(.+).html$ game.php?factory=$1
RewriteRule ^(.+).html(.*)$ $1.php$2
RewriteRule ^game.html$ game.php
RewriteRule ^save.php$ savelevel.php
RewriteRule ^extra.([0-9]*).html$ extra.php?page=$1
